.env*
dist
build
node_modules
.idea
.vscode
*.log

## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

# Firebase
firebase-debug.log
.firebase
serviceAccountKey.json

# App-specific
functions/tmp